<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北京康仁堂数据采集系统</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/jquery.scrollbar.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/admin.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootbox.min.js"></script>
    <script type="text/javascript" src="../../static/js/admin.js"></script>
</head>
<body style="height: auto;min-height: 100%;">
    <div class="wrapper">
        <header>
            <nav class="navBar">
                <div class="navLogo">
                    <img src="../../static/images/logo_white.png" alt="logo">
                </div>
                <div class="navUser">
                    <div class="navUserName">{{ current_user['Name']}}</div>
                    <i class="glyphicon glyphicon-menu-down"></i>
                    <div class="navUserPanel">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="javascript:;" id="seeUserMessage">用户信息</a></li>
                            <li><a href="/account/logout">退出</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <aside class="contentSider">
            <section class="sidebar">
                <div class="menuTitle">
                    <span>导航菜单</span>
                    <span class="glyphicon glyphicon-indent-right pull-right indentMenu"></span>
                </div>
                <ul class="sidebarNav">
                    <li>
                        <a href="javascript:;" class="rootMenu">
                            <span class="glyphicon glyphicon-edit pull-left"></span>
                            <span>生产数据管理</span>
                            <span class="glyphicon glyphicon-menu-left pull-right"></span>
                        </a>
                        <ul class="treeMenu">
                            <li>
                                <a href="#" class="addTabLink" data-href="/ElectronicBatchRecordNav">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">电子批记录</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/BrandFlagPage">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">品名维护管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/Equipment">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">设备管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="rootMenu">
                            <span class="glyphicon glyphicon-stats pull-left"></span>
                            <span>过程数据采集</span>
                            <span class="glyphicon glyphicon-menu-left pull-right"></span>
                        </a>
                        <ul class="treeMenu">
                            <li>
                                <a href="#" class="addTabLink" data-href="/basketExtractConcentrationData">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">篮式提取浓缩过程数据</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/stirExtractConcentrationData">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">搅拌提取浓缩过程数据</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="rootMenu">
                            <span class="glyphicon glyphicon-cog pull-left"></span>
                            <span>系统管理</span>
                            <span class="glyphicon glyphicon-menu-left pull-right"></span>
                        </a>
                        <ul class="treeMenu">
                            <li>
                                <a href="#" class="addTabLink" data-href="/organization">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">组织结构</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/sysrole">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">角色管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/user_manage/default">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">用户管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/roleright">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">权限分配</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="addTabLink" data-href="/syslogs">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="linkName">系统日志</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content">
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nth-tabs" id="editor-tabs"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
