<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户管理</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/base.css" rel="stylesheet">
    <script src="../../static/js/echarts.common.min.js"></script>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/bootstrap-table.min.js"></script>
    <script src="../../static/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../static/js/bootbox.min.js"></script>
    <script src="../../static/js/bootstrap-treeview.min.js"></script>
    <script src="../../static/js/base.js"></script>
</head>
<body>
    <div class="col-md-12" style="padding: 15px 0;">
        <div class="col-md-2">
            <div id="treeview" class=""></div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">用户列表</div>
                <div class="panel-body">
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        用户表单信息
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="">
                                        <div class="form-group">
                                            <label for="ID" class="col-sm-2 control-label">id</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="ID" placeholder="" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Name" class="col-sm-2 control-label">用户名</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Name" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Password" class="col-sm-2 control-label">密码</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Password" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="WorkNumber" class="col-sm-2 control-label">工号</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="WorkNumber" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="OrganizationName" class="col-sm-2 control-label">所属部门</label>
                                            <div class="col-sm-10">
                                                <select id="OrganizationName" class="form-control" type="text" placeholder="">
                                                    <option value="">请选择</option>
                                                    {% for department in departments %}
                                                        <option value="{{ department['OrganizationID'] }}">{{ department['OrganizationName'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="RoleName" class="col-sm-2 control-label">所属角色</label>
                                            <div class="col-sm-10">
                                                <select id="RoleName" class="form-control" type="text" placeholder="">
                                                    <option value="">请选择</option>
                                                    {% for roleName in roleNames %}
                                                        <option value="{{ roleName['RoleID'] }}">{{ roleName['RoleName'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer"><button type="button" class="btn btn-primary" onclick="toolbar.Save()">保存</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="Toolbar">
                        <form class="form-inline">
                            <div class="form-group">
                                <p>
                                    <div class="input-group">
                                        <label class="input-group-addon">名称</label>
                                        <input type="text" class="form-control" id="SearchVal">
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="toolbar.Search()">查询</button>
                                    <button type="button" class="btn btn-info" onclick="toolbar.Add()">添加</button>
                                    <button type="button" class="btn btn-warning" onclick="toolbar.Updata()">编辑</button>
                                    <button type="button" class="btn btn-danger" onclick="toolbar.Delete()">删除</button>
                                    <button type="button" class="btn btn-default" onclick="toolbar.reload()">刷新</button>
                                </p>
                            </div>
                        </form>
                    </div>
                    <table class="table-bordered" id="tab"></table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $.ajax({
                url:'/MyOp',
                type:"post",
                success:function(data){
                    console.log(data)
                    $('#treeview').treeview({
                        data:data,
                        selectable: true,
                        selectedBackColor: "#5485F7",// 选中时的背景色
                        selectedColor: '#ffffff',//选中时的文本颜色
                        onhoverColor: "#5485F7",// hover时的颜色
                        onNodeSelected: function(event, data) {// 选中事件
                            console.log(data)
                        }
                    });
                },
                error: function(data){
                   console.log(data.responseText)
                   bootbox.alert('请求失败')
                },
            })

            $("#tab").bootstrapTable({
                url: '/user_manage/MyUser/Select',
                method: 'get',
                queryParams:function(params){
                    return {
                        id: '',
                        Name:'',
                        limit : params.limit,
                        offset : parseInt(params.offset/params.limit)
                    };
                },
	            pagination: true,
                toolbar:"#Toolbar",
                pageNumber:1,
	            pageSize: 10,
	            pageList: [10, 20, 30, 40, 50],
                sidePagination: "server",
                paginationLoop:false,
                paginationPreText:'上一页',
                paginationNextText:'下一页',
                singleSelect:true,
                clickToSelect:true,
	            locale: "zh-CN",
	            striped: true,
                columns: [{
                    checkbox: true
                },{
                    field: 'Name',
                    title: '用户名'
                },{
                    field: 'Password',
                    title: '密码'
                },{
                    field: 'WorkNumber',
                    title: '工号'
                },{
                    field: 'OrganizationName',
                    title: '所属部门'
                },{
                    field: 'RoleName',
                    title: '所属角色'
                }],
                onCheck:function (row,$element) {

                }
            })
            toolbar = {
                Search:function(){
                    $('#tab').bootstrapTable('refresh',{
                        query:{
                            id: code,
                            Name: $("#SearchVal").val()
                        }
                    });
                },
                Add:function(){
                    $("#myModal").modal('show')
                    $('#ID').val();
                    $('#Name').val();
                    $('#Password').val();
                    $('#WorkNumber').val();
                    $('#OrganizationName option[value=""]').prop("selected", 'selected');
                    $('#RoleName option[value=""]').prop("selected", 'selected');
                },
                Updata:function(){
                    var rows = $("#tab").bootstrapTable('getAllSelections');
                    if(rows.length == 1){
                        if(rows){
                            $("#myModal").modal('show')
                            $('#ID').val(rows[0].ID);
                            $('#Name').val(rows[0].OrganizationCode);
                            $('#Password').val(rows[0].OrganizationName);
                            $('#WorkNumber').val(rows[0].Description);
                            $('#OrganizationName option:contains('+rows[0].OrganizationName+')').prop("selected", 'selected');
                            $('#RoleName option:contains('+rows[0].RoleName+')').prop("selected", 'selected');
                        }
                    } else {
                        bootbox.alert('请单选一条数据进行编辑！');
                    }
                },
                Save:function(){
                    var idVal = $('#ID').val();
                    var urlStr = ''
                    if($('#Name').val() == "") {
                        bootbox.alert('用户名不能为空！');
                        return false;
                    }else if($('#Password').val() == "") {
                        bootbox.alert('密码不能为空！');
                        return false;
                    }else if($('#WorkNumber').val() == "") {
                        bootbox.alert('工号不能为空！');
                        return false;
                    }else if($('#OrganizationName').find("option:selected").val() == "") {
                        bootbox.alert('所属部门不能为空！');
                        return false;
                    }else if($('#RoleName').find("option:selected").val() == "") {
                        bootbox.alert('所属角色不能为空！');
                        return false;
                    }
                    if (idVal.length >= 1){
                        urlStr = '/user_manage/user/updateUser'
                    }
                    else {
                        urlStr = '/user_manage/user/addUser'
                    }
                    $.ajax({
                        url:urlStr,
                        type:"post",
                        data:{
                            ID:$('#ID').val(),
                            Name:$('#Name').val(),
                            Password:$('#Password').val(),
                            WorkNumber:$('#WorkNumber').val(),
                            OrganizationName:$('#OrganizationName').find("option:selected").val(),
                            RoleName:$('#RoleName').find("option:selected").val()
                        },
                        success:function(data){
                            if(data == "OK"){
                                $("#myModal").modal('hide')
                                var dialog = bootbox.dialog({
                                    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>操作成功！</p>',
                                    closeButton: false
                                });
                                dialog.init(function(){
                                    setTimeout(function(){
                                        dialog.modal('hide');
                                    }, 2000);
                                });
                                $('#tab').bootstrapTable('refresh');
                            } else {
                                bootbox.alert(data)
                            }
                        },
                        error: function(data){
                           console.log(data.responseText)
                           bootbox.alert('请求失败')
                        },
                    })
                },
                Delete:function(){
                    var rows = $("#tab").bootstrapTable('getAllSelections');
                    if (rows.length > 0) {
                        var jsonarray=[];
                        bootbox.confirm({
                            message: "您确认要删除所选的记录吗？",
                            buttons: {
                                confirm: {
                                    label: '删除',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: '返回',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if(result){
                                    for (var i = 0; i < rows.length; i++) {
                                        var obj=createKeyIDObj(parseInt(rows[i].ID));
                                        jsonarray.push(obj);
                                    }
                                    var a = JSON.stringify(jsonarray);
                                    $.ajax({
                                        url: '/user_manage/user/deleteUser',
                                        method: 'POST',
                                        traditional: true,
                                        data: a,
                                        success: function (data) {
                                            if(data == "OK"){
                                                var dialog = bootbox.dialog({
                                                    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>操作成功！</p>',
                                                    closeButton: false
                                                });
                                                dialog.init(function(){
                                                    setTimeout(function(){
                                                        dialog.modal('hide');
                                                    }, 2000);
                                                });
                                                $("#tab").bootstrapTable('refresh');
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    } else {
                        bootbox.alert('请选择要删除的记录')
                    }
                },
                reload:function(){
                    $("#tab").bootstrapTable('refresh');
                }
            }
        })
    </script>
</body>
</html>
